# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\destr\Downloads\Tibor_Galambos_Zsolt_Kiss_DBS_Zadanie4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
